<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codetrip.dao.membership.MemberShipDao">
    <resultMap id="MemberShipResultMap" type="MemberShipModel">
        <id property="id" column="id"/>
        <result property="teamId" column="team_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <!-- insert -->
    <insert id="insert" parameterType="MemberShipModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO membership
        (
        team_id,
        user_id
        )
        VALUES
        (
        #{teamId},
        #{userId}
        )
    </insert>

    <!-- select -->
    <select id="find" parameterType="Long" resultMap="MemberShipResultMap">
        SELECT * FROM membership WHERE id = #{id}
    </select>

    <select id="findBySO" parameterType="MemberShipSO" resultMap="MemberShipResultMap">
        SELECT * FROM membership
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="teamId != null">AND team_id = #{teamId}</if>
            <if test="userId != null">AND user_id = #{userId}</if>
        </where>
    </select>

    <!-- delete -->
    <delete id="delete" parameterType="Long">
        DELETE FROM membership WHERE id = #{id}
    </delete>

    <delete id="deleteBySO" parameterType="MemberShipSO">
        DELETE FROM membership
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="teamId != null">AND team_id = #{teamId}</if>
            <if test="userId != null">AND user_id = #{userId}</if>
        </where>
    </delete>

    <!-- update -->
    <update id="update" parameterType="MemberShipModel">
        UPDATE membership
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="userId != null">user_id = #{userId}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>

