<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codetrip.dao.participant.ParticipantDao">
    <resultMap id="ParticipantResultMap" type="ParticipantModel">
        <id property="id" column="id"/>
        <result property="contestId" column="contest_id"/>
        <result property="teamName" column="team_name"/>
        <result property="password" column="password"/>
        <result property="registeDate" column="registe_date"/>
    </resultMap>

    <!-- insert -->

    <insert id="insert" parameterType="ParticipantModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO participant
        (
          contest_id,
          team_name,
          password,
          registe_date
        )
        VALUES
        (
          #{contestId},
          #{teamName},
          #{password},
          #{registeDate}
        )
    </insert>

    <!-- select -->
    <select id="find" parameterType="Long" resultMap="ParticipantResultMap">
        SELECT * FROM participant WHERE id = #{id}
    </select>

    <select id="findBySO" parameterType="ParticipantSO" resultMap="ParticipantResultMap">
        SELECT * FROM participant
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="contestId != null">AND contest_id = #{contestId}</if>
            <if test="teamName != null">AND team_name = #{teamName}</if>
            <if test="password != null">AND password = #{password}</if>
            <if test="registeDate != null">AND registe_date = #{registeDate}</if>
        </where>
    </select>

    <!-- update -->
    <update id="update" parameterType="ParticipantModel">
        UPDATE participant
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="contestId != null">contest_id = #{contestId},</if>
            <if test="teamName != null">team_name = #{teamName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="registeDate != null">registe_date = #{registeDate}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
