<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codetrip.dao.testcase.TestCaseDao">

    <!-- result map -->
    <resultMap id="TestCaseResultMap" type="TestCaseModel">
        <result property="id" column="id"/>
        <result property="problemId" column="problem_id"/>
        <result property="testData" column="test_data"/>
        <result property="standardOutput" column="standard_output"/>
    </resultMap>

    <!-- insert -->
    <insert id="insert" parameterType="TestCaseModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO testcase
        (
          problem_id,
          test_data,
          standard_output
        )
        VALUES
        (
          #{problemId},
          #{testData},
          #{standardOutput}
        );
    </insert>

    <!-- select -->
    <select id="find" parameterType="Long" resultMap="TestCaseResultMap">
        SELECT * FROM testcase WHERE id = #{id};
    </select>

    <select id="findBySO" parameterType="TestCaseSO" resultMap="TestCaseResultMap">
        SELECT * FROM testcase
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="problemId != null">AND problem_id = #{problemId}</if>
            <if test="testData != null">AND test_data = #{testData}</if>
            <if test="standardOutput != null">AND standard_output = #{standardOutput}</if>
        </where>
    </select>

    <!-- delete -->
    <delete id="delete" parameterType="map">
        DELETE FROM testcase WHERE id = #{id};
    </delete>

    <!-- update -->
    <update id="update" parameterType="TestCaseModel">
        UPDATE testcase
        <set>
            <if test="testData != null">test_data = #{testData},</if>
            <if test="problemId != null">problem_id = #{problemId},</if>
            <if test="standardOutput != null">standard_output = #{standardOutput}</if>
        </set>
        WHERE id = #{id};
    </update>

</mapper>
