<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codetrip.dao.user.UserDao">
    <!-- result map -->
    <resultMap id="userResultMap" type="UserModel">
        <id property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="registerDate" column="register_date"/>
        <result property="nikeName" column="nike_name"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="nationality" column="nationality"/>
        <result property="publicInfo" column="public_info"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>

    <!-- insert -->
    <insert id="insert" parameterType="UserModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        (
        password,
        nike_name,
        register_date,
        email,
        role,
        nationality,
        public_info,
        sex,
        age
        )
        VALUES
        (
        #{password},
        #{nikeName},
        #{registerDate},
        #{email},
        #{role},
        #{nationality},
        #{publicInfo},
        #{sex},
        #{age}
        );
    </insert>

    <!-- select -->
    <select id="find" parameterType="Long" resultMap="userResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findBySO" parameterType="UserSO" resultMap="userResultMap">
        SELECT * FROM user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
            <if test="registerDate != null">
                AND register_date = #{registerDate}
            </if>
            <if test="nikeName != null">
                AND nike_name = #{nikeName}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
            <if test="role != null">
                AND role = #{role}
            </if>
            <if test="nationality != null">
                AND nationality = #{nationality}
            </if>
            <if test="publicInfo != null">
                AND public_info = #{publicInfo}
            </if>
            <if test="sex != null">
                AND sex = #{sex}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
        </where>
    </select>

    <!-- update -->
    <update id="update" parameterType="UserModel">
        UPDATE user
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="registerDate != null">
                register_date = #{registerDate},
            </if>
            <if test="nikeName != null">
                nike_name = #{nikeName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="nationality != null">
                nationality = #{nationality},
            </if>
            <if test="publicInfo != null">
                public_info = #{publicInfo},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age}
            </if>
        </set>
    </update>
</mapper>

