<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codetrip.dao.rank.RankDao">
    <resultMap id="RankResultMap" type="RankModel">
        <id property="id" column="id"/>
        <result property="teamId" column="team_id"/>
        <result property="contestId" column="contest_id"/>
        <result property="penalty" column="penalty"/>
    </resultMap>

    <!-- insert -->
    <insert id="insert" parameterType="RankModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rank
        (
          team_id,
          contest_id,
          penalty
        )
        VALUES
        (
          #{teamId},
          #{contestId},
          #{penalty}
        )
    </insert>

    <!-- select -->
    <select id="find" parameterType="Long" resultMap="RankResultMap">
        SELECT * FROM rank WHERE id = #{id}
    </select>

    <select id="findBySO" parameterType="RankSO" resultMap="RankResultMap">
        SELECT * FROM rank
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="teamId != null">AND team_id = #{teamId}</if>
            <if test="contestId != null">AND contest_id = #{contestId}</if>
            <if test="penalty != null">AND penalty = #{penalty}</if>
        </where>
    </select>

    <!-- update -->
    <update id="update" parameterType="RankModel">
        UPDATE rank
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="contestId != null">contest_id = #{contestId},</if>
            <if test="penalty != null">penalty = #{penalty}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
