<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codetrip.dao.solution.SolutionDao">
    <!-- result map-->
    <resultMap id="solutionResultMap" type="SolutionModel">
        <id property="id" column="id"/>
        <result property="teamId" column="team_id"/>
        <result property="userId" column="user_id"/>
        <result property="problemId" column="problem_id"/>
        <result property="useTime" column="use_time"/>
        <result property="useMemory" column="use_memory"/>
        <result property="date" column="date"/>
        <result property="language" column="language"/>
        <result property="result" column="result"/>
        <result property="compileOutput" column="compile_output"/>
        <result property="codeContext" column="code_context"/>
    </resultMap>
    
    <!-- insert -->
    <insert id="insert" parameterType="SolutionModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO solution
        (
          team_id, 
          user_id, 
          problem_id, 
          contest_id, 
          use_time, 
          use_memory, 
          date, 
          language, 
          result, 
          compile_output, 
          code_context
        )
        VALUES 
        (
          #{teamId},
          #{userId},
          #{problemId},
          #{contestId},
          #{useTime},
          #{useMemory},
          #{date},
          #{language},
          #{result},
          #{compileOutput},
          #{codeContext}
        );
    </insert>
    
    <!-- select -->
    <select id="find" parameterType="Long" resultMap="solutionResultMap">
        SELECT * FROM solution WHERE id = #{id};
    </select>

    <select id="findBySO" parameterType="SolutionSO" resultMap="solutionResultMap">
        SELECT * FROM solution
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="teamId != null">AND team_id = #{teamId}</if>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="problemId != null">AND problem_id = #{problemId}</if>
            <if test="contestId != null">AND contest_id = #{contestId}</if>
            <if test="useTime != null">AND use_time = #{useTime}</if>
            <if test="useMemory != null">AND use_memory = #{useMemory}</if>
            <if test="date != null">AND date = #{date}</if>
            <if test="language != null">AND language = #{language}</if>
            <if test="result != null">AND result = #{result}</if>
            <if test="compileOutput != null">AND compile_output = #{compileOutput}</if>
            <if test="codeContext != null">AND code_context = #{codeContext}</if>
        </where>
    </select>

    <!-- update -->
    <update id="update" parameterType="SolutionModel">
        UPDATE solution
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="problemId != null">problem_id = #{problemId},</if>
            <if test="contestId != null">contest_id = #{contestId},</if>
            <if test="useTime != null">use_time = #{useTime},</if>
            <if test="useMemory != null">use_memory = #{useMemory},</if>
            <if test="date != null">date = #{date},</if>
            <if test="language != null">language = #{language},</if>
            <if test="result != null">result = #{result},</if>
            <if test="compileOutput != null">compile_output = #{compileOutput},</if>
            <if test="codeContext != null">code_context = #{codeContext}</if>
        </set>
        WHERE id = #{id};
    </update>
</mapper>