<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codetrip.dao.user.UserDao">
    <!-- result map -->
    <resultMap id="UserResultMap" type="UserModel">
        <id property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="registeDate" column="registe_date"/>
        <result property="nikeName" column="nike_name"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="nationality" column="nationality"/>
        <result property="publication" column="publication"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>

    <!-- insert -->
    <insert id="insert" parameterType="UserModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        (
          password,
          nike_name,
          registe_date,
          email,
          role,
          nationality,
          publication,
          sex,
          age
        )
        VALUES
        (
          #{password},
          #{nikeName},
          #{registeDate},
          #{email},
          #{role},
          #{nationality},
          #{publication},
          #{sex},
          #{age}
        );
    </insert>

    <!-- select -->
    <select id="find" parameterType="Long" resultMap="UserResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findBySO" parameterType="UserSO" resultMap="UserResultMap">
        SELECT * FROM user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
            <if test="registeDate != null">
                AND registe_date = #{registeDate}
            </if>
            <if test="nikeName != null">
                AND nike_name = #{nikeName}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
            <if test="role != null">
                AND role = #{role}
            </if>
            <if test="nationality != null">
                AND nationality = #{nationality}
            </if>
            <if test="publication != null">
                AND publication = #{publication}
            </if>
            <if test="sex != null">
                AND sex = #{sex}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
        </where>
    </select>

    <!-- update -->
    <update id="update" parameterType="UserModel">
        UPDATE user
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="registeDate != null">
                 registe_date = #{registeDate},
            </if>
            <if test="nikeName != null">
                 nike_name = #{nikeName},
            </if>
            <if test="email != null">
                 email = #{email},
            </if>
            <if test="role != null">
                 role = #{role},
            </if>
            <if test="nationality != null">
                 nationality = #{nationality},
            </if>
            <if test="publication != null">
                 publication = #{publication},
            </if>
            <if test="sex != null">
                 sex = #{sex},
            </if>
            <if test="age != null">
                 age = #{age}
            </if>
        </set>
    </update>
</mapper>