<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codetrip.dao.user.UserDao">
    <!-- result map -->
    <resultMap id="userResultMap" type="UserModel">
        <id property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <result property="registerDate" column="register_date"/>
        <result property="nikeName" column="nike_name"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="nationality" column="nationality"/>
        <result property="publicInfo" column="public_info"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>

    <!-- insert -->
    <insert id="insertUser" parameterType="UserModel" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user
        (
          password,
          nike_name,
          register_date,
          email,
          role,
          nationality,
          public_info,
          sex,
          age
        )
        VALUES
        (
          #{password},
          #{nikeName},
          #{registerDate},
          #{email},
          #{role},
          #{nationality},
          #{publicInfo},
          #{sex},
          #{age}
        );
    </insert>

    <!-- select -->
    <select id="queryUserByEmailAndPassword" parameterType="map" resultMap="userResultMap">
        SELECT * FROM user WHERE email = #{email} AND password = #{password};
    </select>

    <select id="queryUserByEmail" parameterType="String" resultMap="userResultMap">
        SELECT * FROM user WHERE email = #{email};
    </select>

    <select id="queryUserByUserId" parameterType="int" resultMap="userResultMap">
        SELECT * FROM user WHERE user_id = #{userId};
    </select>
</mapper>