<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="org.codetrip.model"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="org.codetrip.common.enumerate.JudgeResult"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
                     javaType="org.codetrip.common.enumerate.Language"/>
    </typeHandlers>
</configuration>
