<!DOCTYPE html>
<html lang="zh">

    #parse("/common/head.vm")
<body>
<!-- navigator -->

    #parse("/common/navigator.vm")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            #parse("/common/spacebar.vm")
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>比赛信息</h4>
                </div>

                <div class="panel-body">
                    <form role="form" action="$root/profile/addcontest" method="post">
                        <div class="form-group">
                            <label>标题</label>
                            <textarea class="form-control" rows="1" name="title"></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>开始时间</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" name="starttime"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>结束时间</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input type='text' class="form-control" name="endtime"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success"> 提交 </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
    #parse("/common/footer.vm")
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
    $(function () {
        $('#datetimepicker2').datetimepicker();
    });
</script>