<!DOCTYPE html>
<html lang="zh">

    #parse("/common/head.vm")

<body>

<!-- navigator -->

    #parse("/common/navigator.vm")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            #parse("/common/spacebar.vm")
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>添加测试数据</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="$root/profile/testcase/$pid/add" method="post">
                                <div class="form-group">
                                    <label>输入数据</label>
                                    <textarea class="form-control" rows="3" name="testcase"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>输出数据</label>
                                    <textarea class="form-control" rows="3" name="stdoutput"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success">添加</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                #set($index = 1)
                #foreach($testcase in $testcases)
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading$index">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#$index" aria-expanded="true" aria-controls="collapseOne">
                                    Test Case #$index
                                </a>
                            </h4>
                        </div>
                        <div id="$index" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <pre>$testcase.testData</pre>
                                <pre>$testcase.standardOutput</pre>
                            </div>
                        </div>
                    </div>
                    #set($index = $index + 1)
                #end
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
