<!DOCTYPE html>
<html lang="zh">

    #parse("/common/head.vm")

<body>

<!-- navigator -->

    #parse("/common/navigator.vm")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            #parse("/common/spacebar.vm")
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="row">
                <div class="col-md-12">
                    <!-- problems -->
                    <div class="row">
                        <div class="col-md-2 col-md-offset-10">
                            <a class="btn btn-success" href="$root/profile/addproblem" role="button">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 新增
                            </a>
                        </div>
                    </div>

                    <hr/>

                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Sorts</th>
                            <th class="text-center">Ratio</th>
                            <th class="text-center">Cases</th>
                        </tr>
                        </thead>
                        <tbody>
                            #set($index = $problems.size())
                            #foreach($problem in $problems)
                            <tr #if($problem.caseNumber == 0)class="danger" #end>
                                <td class="text-center">$index</td>
                                <td class="text-center"><a href="#">$problem.title</a></td>
                                <td class="text-center">Undefined</td>
                                <td class="text-center">$problem.accept / $problem.submissions</td>
                                <td class="text-center">
                                    <a href="$root/profile/testcase/$problem.id">$problem.caseNumber</a>
                                    #if($problem.caseNumber == 0)
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    #end
                                </td>
                            </tr>
                                #set($index = $index - 1)
                            #end
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    #parse("/common/footer")
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
