<!DOCTYPE html>
<html lang="zh">

    #parse("/common/head.vm")

<body>

<!-- navigator -->

    #parse("/common/navigator.vm")

    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <div class="col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li #if($sidebarItem == "overview") class="active" #end><a href="$root/profile/sidebar/overview">Overview</a></li>
                    <li #if($sidebarItem == "report") class="active" #end><a href="$root/profile/sidebar/report">Report</a></li>
                    <li #if($sidebarItem == "myproblem") class="active" #end><a href="$root/profile/sidebar/myproblem">我的题目</a></li>
                    <li #if($sidebarItem == "mycontest") class="active" #end><a href="$root/profile/sidebar/mycontest">我的比赛</a></li>
                </ul>
            </div>

            <!-- content -->

            #if($sidebarItem == "myproblem")
                #parse("/profile/myproblems.vm")
            #end

        </div>
        #parse("/common/footer")
    </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>