<div class="row">
    <div class="span12">
        <footer>
            <p>&copy; Company 2015</p>
        </footer>
    </div>
</div>

<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="$root/resources/bootstrap/js/bootstrap.min.js"></script>