<!-- <footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; Company 2015</p>
    </div>
</footer> -->

<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="$root/resources/bootstrap/js/bootstrap.min.js"></script>
<script src="$root/resources/moment/moment.js"></script>
<script src="$root/resources/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>